<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MQTT_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6634B4711EBB1A8F0067371B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6634B48A1EBB1A8F0067371B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6634B4951EBB1A8F0067371B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
